@page
@model DeleteModel


@{
    ViewData ["Title"] = "Credentials - Delete";
}

<h4 class="align-text-top text-muted m-2">@ViewData["Title"]</h4>
<hr />

<div class="container-fluid p-1 m-2" style="background-color:#f4f4f4; box-shadow: 5px 5px 10px 5px #e1e1e1;">
    <p>
        <a asp-area="Demo" asp-page="/Home/Index"><i class="bi bi-house-up" title="Demo Home"></i></a>&nbsp;&nbsp;&nbsp;
        <a asp-area="Demo" asp-page="/Credentials/Index"><i class="bi bi-arrow-return-left" title="Credentials Setup"></i></a>&nbsp;&nbsp;&nbsp;
        <a asp-area="Demo" asp-page="/Credentials/Create"><i class="bi bi-plus-square" title="Create Credential"></i></a>

        <img src="~/img/setup.png" class="img-fluid" style="float:right;height:auto; width:70px;" title="Setup" />
    </p>
</div>
<hr />

<h2>Are you sure you want to delete this?</h2>
<div>
    <h4>Credentials</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Credentials.IsChecked)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Credentials.IsChecked)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Credentials.SiteUrl)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Credentials.SiteUrl)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Credentials.UserName)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Credentials.UserName)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Credentials.Password)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Credentials.Password)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Credentials.Tenant)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Credentials.Tenant)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Credentials.Branch)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Credentials.Branch)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Credentials.Locale)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Credentials.Locale)</dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Credentials.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
