@page
@model IndexModel

@{
    ViewData ["Title"] = "Credentials - Setup";
}

<h4 class="align-text-top text-muted m-2">@ViewData["Title"]</h4>
<hr />

<div class="container-fluid p-1 m-2" style="background-color:#f4f4f4; box-shadow: 5px 5px 10px 5px #e1e1e1;">
    <p>
        <a asp-area="Demo" asp-page="/Home/Index"><i class="bi bi-house-up" title="Demo Home"></i></a>&nbsp;&nbsp;&nbsp;
        <a asp-area="Demo" asp-page="/Credentials/Index"><i class="bi bi-arrow-return-left" title="Credentials Setup"></i></a>&nbsp;&nbsp;&nbsp;
        <a asp-area="Demo" asp-page="/Credentials/Create"><i class="bi bi-plus-square" title="Create Credential"></i></a>

        <img src="~/img/setup.png" class="img-fluid" style="float:right;height:auto; width:70px;" title="Setup" />
    </p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Credentials[0].IsChecked)</th>
            <th>@Html.DisplayNameFor(model => model.Credentials[0].SiteUrl)</th>
            <th>@Html.DisplayNameFor(model => model.Credentials[0].UserName)</th>
            <th>@Html.DisplayNameFor(model => model.Credentials[0].Password)</th>
            <th>@Html.DisplayNameFor(model => model.Credentials[0].Tenant)</th>
            <th>@Html.DisplayNameFor(model => model.Credentials[0].Branch)</th>
            <th>@Html.DisplayNameFor(model => model.Credentials[0].Locale)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Credentials) 
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.IsChecked)</td>
                <td>@Html.DisplayFor(modelItem => item.SiteUrl)</td>
                <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                <td>@Html.DisplayFor(modelItem => item.Password)</td>
                <td>@Html.DisplayFor(modelItem => item.Tenant)</td>
                <td>@Html.DisplayFor(modelItem => item.Branch)</td>
                <td>@Html.DisplayFor(modelItem => item.Locale)</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
